<div role="tabpanel" class="tab-pane" id="creatinine_clearance">
	<div>
		<form>
			<table id="creaCleartable" class="tableContainer">
				<tr class="tableRow">
				  <td class="inputLabel">24hr Urine Volume &nbsp;</td>
				  <td><input type="text" class="inputData data" id="uvol2" placeholder="mL" onkeypress="displayUnits('uvol2Unit')"><span class="units" id="uvol2Unit" style="left:310px">mL</span></td>
				</tr>
				<tr class="tableRow">
				  <td class="inputLabel">Serum Creatinine &nbsp;</td>
				  <td><input type="text" class="inputData data" id="screa2" placeholder="mg/dL" onkeypress="displayUnits('screa2Unit')"><span class="units" id="screa2Unit" style="left:310px">mg/dL</span></td>
				</tr>
				<tr class="tableRow">
				  <td class="inputLabel">Urine Creatinine &nbsp;</td>
				  <td><input type="text" class="inputData data" id="ucrea2" placeholder="mg/dL" onkeypress="displayUnits('ucrea2Unit')"><span class="units" id="ucrea2Unit" style="left:310px">mg/dL</span></td>
				</tr>
				<tr class="tableRow">
				  <td class="inputLabel">Collection Time &nbsp;</td>
				  <td><input type="text" class="inputData data" id="coltime" placeholder="hours" onkeypress="displayUnits('coltimeUnit')"><span class="units" id="coltimeUnit" style="left:310px">hours</span></td>
				</tr>
				<tr class="tableRow">
				  <td class="inputLabel">Height &nbsp;</td>
				  <td><input type="text" class="inputData data" id="height" placeholder="ft" onkeyup="calcbsa()" onkeypress="displayUnits('heightUnit')"><span class="units" id="heightUnit" style="left:310px">ft</span></td>
				</tr>
				<tr class="tableRow">
				  <td class="inputLabel">Weight &nbsp;</td>
				  <td><input type="text" class="inputData data" id="weight" placeholder="kg" onkeyup="calcbsa()" onkeypress="displayUnits('weightUnit')"><span class="units" id="weightUnit" style="left:310px">kg</span></td>
				</tr>
				<tr>
				  <td class="inputLabel">Body Surface Area: &nbsp;</td>
				  <td><input type="text" class="outputData data" id="bsa" placeholder="m²" readonly></td>
				</tr>
				<tr>
				  <td class="inputLabel">Creatinine Clearance: &nbsp;</td>
				  <td><input type="text" class="outputData data" id="creaclear" placeholder="ml/min" readonly></td>
				</tr>
				<tr>
				  <td class="inputLabel">Corrected Creatinine Clearance: &nbsp;</td>
				  <td><input type="text" class="outputData data" id="corcreaclear" placeholder="ml/min/1.73 m²" readonly></td>
				</tr>
		  </table>
		  <div class="buttonContainer">
			<input type="button" class="button" value="CALCULATE" onclick="calccreaclear()"></input>
			<input type="button" class="button clear_button" value="CLEAR"></input>
		  </div>
		  
		</form>
	</div>
</div>