<div class="sidecontent row" id="hba1c">
	<div class="col-md-12">
		<div class="choose_unit">
			<span class="hba1c_radio"><input type="radio" class="inputRadio" name="hba1c_unit" id="hba1c_mgdl" checked>
			<label for="hba1c_mgdl" class="radioLabel">mg/dL</label></span>
			<span class="hba1c_radio"><input type="radio" class="inputRadio" name="hba1c_unit" id="hba1c_mmoll">
			<label for="hba1c_mmoll" class="radioLabel">mmol/L</label></span>	
		</div>
		<form id="hba1c_form">
			<table class="tableContainer">
				<tr>
					<td class="inputLabel">HbA1c</td>
					<td><input type="text" class="inputData data" name="hba1c_input" id="hba1c_input" placeholder="%"><span class="units" id="hba1cUnit">%</span></td>
				</tr>
				<tr>
					<td class="inputLabel">eAG</td>
					<td><input type="text" class="inputData data" name="eag" id="eag" placeholder="mg/dL" readonly></td>
				</tr>
			</table>
			<div class="buttonContainer" style="margin-left: 225px;">
				<input type="button" class="button clear_button" value="CLEAR"></input>
			</div>
		</form>
	</div>
</div>