<div class="sidecontent" id="urea_to_bun">
	<div>
		<form>
		  <table id="ubunTable" class="tableContainer">
			<tr class="tableRow">
			  <td class="inputLabelShort">Urea &nbsp;</td>
			  <td><input type="text" class="inputData data" name="surea" id="surea" placeholder="mg/dL" onkeypress="displayUnits('sureaUnit')" onkeyup="calcUreaToBun()"><span class="units" id="sureaUnit">mg/dL</span></td>
			</tr>
			<tr class="tableRow">
			  <td class="inputLabelShort">BUN &nbsp;</td>
			  <td><input type="text" class="outputData data" name="bun" id="bun" placeholder="mg/dL" readonly></td>
			</tr>
		  </table>
		  <div class="buttonContainer">
			<input type="button" class="button" value="CLEAR" onclick="clearData()"></input>
		  </div>		  
		</form>
	</div>
</div>  