{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
{% include 'quality_control/qc_nav.html' %}
<hr class="inventory_hr">
<div class="row">
	<div class="col-md-12 visible-print-block">
		<div class="col-md-3">
			{% if company.logo %}
			<div width="180px"><img src="{{ company.logo }}" alt="{{ company.company_name }}" style="width:180px;height:150px;"></div>
			{% else %}
			<div width="180px"><img src="{{ company.company_avatar(150) }}"></div>
			{% endif %}
		</div>
		<div class="col-md-6 text-center" >
			<h1>{{ company.company_name }}</h1>
		</div>
		<div class="col-md-3" style="height:150px;">
			<div style="bottom:0;">
				<p>Address: {{ company.address }}</p>
				<p>Email: {{ company.email }}</p>
				<p>Contact: {{ company.contact_info }}</p>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<!--div class="row">
			<div class="col-md-12" id="qc_title">
				<input type="text" class="form-control qc-info text-center" style="font-size: 15px; font-weight: bold;" placeholder="Title">
			</div>
		</div-->
		<br>
		<form action method="post" class="form" role="form">
			{{ form.csrf_token() }}
			<div class="col-md-4">
				{{ form.qcrf_machine.label (class_="control-label")}}
				{{ form.qcrf_machine (class_="form-control")}}
				<br>
				{{ form.control1.label (class_="control-label")}}
				{{ form.control1 (class_="form-control")}}
			</div>
			<div class="col-md-4">
				{{ form.qcrf_analyte.label (class_="control-label")}}
				{{ form.qcrf_analyte (class_="form-control")}}
				<br>
				{{ form.control2.label (class_="control-label")}}
				{{ form.control2 (class_="form-control")}}
			</div>
			<div class="col-md-4">
				{{ form.qcrf_reagent_lot.label (class_="control-label")}}
				{{ form.qcrf_reagent_lot (class_="form-control")}}
				<br>
				{{ form.control3.label (class_="control-label")}}
				{{ form.control3 (class_="form-control")}}
			</div>
			<div>
				<div class="col-md-3">
				<br>
					{{ form.start_date.label (class_="control-label")}}
					{{ form.start_date (class_="form-control")}}
				</div>
				<div class="col-md-3">
					<br>
					{{ form.end_date.label (class_="control-label")}}
					{{ form.end_date (class_="form-control")}}
				</div>
				<div class="col-md-6" style="margin-top:20px;">
					<br>
					{{ form.qcrf_submit (class_="btn btn-primary")}}
					<a type="button" class="btn btn-default" href="{{ url_for('edit_qc_results', company_name=company.company_name)}}">Edit Results</a>
					<!--input id="calculate_meansd_btn" type="button" class="btn btn-default no_print" value="Calculate Mean SD">
					<input id="create_chart_btn" type="button" class="btn btn-default no_print" value="Create Chart"-->
				</div>	
			</div>	
			
			
		</form>
	</div>
</div>	

{% endblock %}


{% block styles %}
{{ super() }}
<style>

</style>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

$(document).ready(function() {
	
	$('select#qcrf_machine option').addClass(function() {
		{% for ma in machine_analyte_link %}
			return this.value;
		{% endfor %}
		
	});
	
	//    for updating select options   
	
	 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; //same like url_for ut for jquery
	
		
	$('#qcrf_machine').change(function(){
		$('#qcrf_analyte').empty();
		$.getJSON($SCRIPT_ROOT + '/update_analyte_list', {
			company_id : {{ company.id }}, 
			machine_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#qcrf_analyte').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		return false;
	});
	
	$('#qcrf_analyte').change(function(){
		$('#qcrf_reagent_lot').empty();
		$.getJSON($SCRIPT_ROOT + '/update_rlot_list', {
			company_id : {{ company.id }}, 
			analyte_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#qcrf_reagent_lot').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
		});
		$('#control1').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val(),
			rlot_id : "0"
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control1').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control2').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val(),
			rlot_id : "0"
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control2').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control3').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val(),
			rlot_id : "0"
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control3').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		return false;
	});
	
	$('#qcrf_reagent_lot').change(function(){
		/*$('#eqcrf_control').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_list', {
			company_id : {{ company.id }}, 
			analyte_id : $('#eqcrf_analyte').val(),
			machine_id : $('#eqcrf_machine').val(), 
			rlot_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#eqcrf_control').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
		});*/
		
		$('#control1').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			company_id : {{ company.id }}, 
			analyte_id : $('#qcrf_analyte').val(),
			machine_id : $('#qcrf_machine').val(), 
			rlot_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control1').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control2').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			company_id : {{ company.id }}, 
			analyte_id : $('#qcrf_analyte').val(),
			machine_id : $('#qcrf_machine').val(), 
			rlot_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control2').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control3').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_lot_list', {
			company_id : {{ company.id }}, 
			analyte_id : $('#qcrf_analyte').val(),
			machine_id : $('#qcrf_machine').val(), 
			rlot_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control3').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
				
		return false;
	});
});

</script>
{% endblock %}