{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
{% include 'quality_control/qc_nav.html' %}
<div class="row">
	<h3 class="text-center">Register QC Variables</h3>
	<div class="col-md-12">
		<div class="col-md-6">
			<h4>Register Machine</h4>
			{{ wtf.quick_form(form1)}}
			<h4>Register Control</h4>
			{{ wtf.quick_form(form3)}}
		</div>
		<div class="col-md-6">
			<h4>Register Analyte</h4>
			{{ wtf.quick_form(form2)}}
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<h4>Register Reagent Lot</h4>
			{{ wtf.quick_form(form4)}}
		</div>
		<div class="col-md-6">
			<h4>Register Control Lot</h4>
			{{ wtf.quick_form(form5)}}
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<h4>Encode QC Values</h4>
		<form action method="post" class="form" role="form">
			{{ form6.csrf_token() }}
				<div class="col-md-4">
					{{ form6.qcrf_machine.label (class_="control-label")}}
					{{ form6.qcrf_machine (class_="form-control")}}
					<br>
					{{ form6.control1.label (class_="control-label")}}
					{{ form6.control1 (class_="form-control")}}
					<br>
					<div class="col-md-6">
					{{ form6.control1_mean.label (class_="control-label")}}
					{{ form6.control1_mean (class_="form-control")}}
					</div>
					<div class="col-md-6">
					{{ form6.control1_sd.label (class_="control-label")}}
					{{ form6.control1_sd (class_="form-control")}}
					</div>
				</div>
				<div class="col-md-4">
					{{ form6.qcrf_analyte.label (class_="control-label")}}
					{{ form6.qcrf_analyte (class_="form-control")}}
					<br>
					{{ form6.control2.label (class_="control-label")}}
					{{ form6.control2 (class_="form-control")}}
					<br>
					<div class="col-md-6">
					{{ form6.control2_mean.label (class_="control-label")}}
					{{ form6.control2_mean (class_="form-control")}}
					</div>
					<div class="col-md-6">
					{{ form6.control2_sd.label (class_="control-label")}}
					{{ form6.control2_sd (class_="form-control")}}
					</div>
				</div>
				<div class="col-md-4">
					{{ form6.qcrf_reagent_lot.label (class_="control-label")}}
					{{ form6.qcrf_reagent_lot (class_="form-control")}}
					<br>
					{{ form6.control3.label (class_="control-label")}}
					{{ form6.control3 (class_="form-control")}}
					<br>
					<div class="col-md-6">
					{{ form6.control3_mean.label (class_="control-label")}}
					{{ form6.control3_mean (class_="form-control")}}
					</div>
					<div class="col-md-6">
					{{ form6.control3_sd.label (class_="control-label")}}
					{{ form6.control3_sd (class_="form-control")}}
					</div>
				</div>
			<br>
			<div style="float:right;margin-top:10px;margin-bottom:40px;">
				{{ form6.qcrf_submit (class_="btn btn-default")}}
			</div>
			
		</form>
	</div>
	
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
	var control_tags = [
		{% for control in control_lots %}
			{
				label: "{{ control.lot_no}}",
				expiry: "{{ control.expiry }}",
			},
		{% endfor %}
	  ]
	  
	$( "#rqclf_control_lot_no" ).autocomplete({
	  source: control_tags,
	  focus: function(event, ui) {
	  event.preventDefault();
	  $(this).val(ui.item.label);
	  },
	  select: function(event, ui) {
	  event.preventDefault();
	  $(this).val(ui.item.label);
	  $("#rqclf_control_expiry").val(ui.item.expiry);
	  }
	});
	
	var reagent_lot_tags = [
		{% for reagent_lot in reagent_lots %}
			{
				label: "{{ reagent_lot.lot_no}}",
				expiry: "{{ reagent_lot.expiry }}",
			},
		{% endfor %}
	  ]
	  
	$( "#rrlf_reagent_lot_no" ).autocomplete({
	  source: reagent_lot_tags,
	  focus: function(event, ui) {
	  event.preventDefault();
	  $(this).val(ui.item.label);
	  },
	  select: function(event, ui) {
	  event.preventDefault();
	  $(this).val(ui.item.label);
	  $("#rrlf_reagent_expiry").val(ui.item.expiry);
	  }
	});
	
	var machine_tags = [
		{% for machine in machines %}
			{
				label: "{{ machine.machine_name}}",
			},
		{% endfor %}
	  ]
	  
	 $( "#rmf_machine_name" ).autocomplete({
		  source: machine_tags
		});
		
		
	var analyte_tags = [
		{% for analyte in analytes %}
			{
				label: "{{ analyte.analyte }}"
			},
		{% endfor %}
	]
	
	 
	 $( "#raf_analyte" ).autocomplete({
		  source: analyte_tags
		});
		
		
	var unit_tags = [
		{% for unit in units %}
			{
				label: "{{ unit.unit }}"
			},
		{% endfor %}
	]
	
	$( "#raf_unit" ).autocomplete({
		  source: unit_tags
		});
		
	//    for updating select options   
	
	 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; //same like url_for ut for jquery
	
	$('#rrlf_machine').change(function(){
		$('#rrlf_analyte').empty();
		$.getJSON($SCRIPT_ROOT + '/update_analyte_list', {
			company_id : {{ company.id }}, 
			machine_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#rrlf_analyte').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		return false;
	});
	
	$('#qcrf_machine').change(function(){
		$('#qcrf_analyte').empty();
		$.getJSON($SCRIPT_ROOT + '/update_analyte_list', {
			company_id : {{ company.id }}, 
			machine_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#qcrf_analyte').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			/*$('#control1').empty();   --------------cannot use qcvalues only company controls
			$.getJSON($SCRIPT_ROOT + '/update_control_list', {
				machine_id : $('#qcrf_machine').val(), 
				company_id : {{ company.id }}, 
				analyte_id : $('#qcrf_analyte').val()
			}, function(data){
				$.each(data.result, function(i, new_options){
					$('#control1').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
				})
				
			});
			$('#control2').empty();
			$.getJSON($SCRIPT_ROOT + '/update_control_list', {
				machine_id : $('#qcrf_machine').val(), 
				company_id : {{ company.id }}, 
				analyte_id :$('#qcrf_analyte').val()
			}, function(data){
				$.each(data.result, function(i, new_options){
					$('#control2').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
				})
				
			});
			$('#control3').empty();
			$.getJSON($SCRIPT_ROOT + '/update_control_list', {
				machine_id : $('#qcrf_machine').val(), 
				company_id : {{ company.id }}, 
				analyte_id : $('#qcrf_analyte').val()
			}, function(data){
				$.each(data.result, function(i, new_options){
					$('#control3').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
				})
				
			});*/
		});
		
		return false;
	});
	
	$('#qcrf_analyte').change(function(){
		$('#qcrf_reagent_lot').empty();
		$.getJSON($SCRIPT_ROOT + '/update_rlot_list', {
			company_id : {{ company.id }}, 
			analyte_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#qcrf_reagent_lot').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
		});
		/*$('#control1').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control1').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control2').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control2').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});
		$('#control3').empty();
		$.getJSON($SCRIPT_ROOT + '/update_control_list', {
			machine_id : $('#qcrf_machine').val(), 
			company_id : {{ company.id }}, 
			analyte_id : $(this).val()
		}, function(data){
			$.each(data.result, function(i, new_options){
				$('#control3').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
			})
			
		});*/
		return false;
	});
	
});
</script>
{% endblock %}