<div role="tabpanel" class="tab-pane" id="indices">
	
	<table class="tableContainer">
		<tr>
			<td class="inputLabel">Hemoglobin</td>
			<td><input type="text" class="inputData data" id="hemoglobin" placeholder="g/dL"><span class="units" id="hgb_unit">g/dL</span></td>
		</tr>
		<tr>
			<td class="inputLabel">Hematocrit</td>
			<td><input type="text" class="inputData data" id="hematocrit" placeholder="%"><span class="units" id="hct_unit">%</span></td>
		</tr>
		<tr>
			<td class="inputLabel">RBC</td>
			<td><input type="text" class="inputData data" id="rbc" placeholder="x10^12"><span class="units" id="rbc_unit">x10<sup>12</sup></span></td>
		</tr>
		<tr>
			<td class="inputLabel">MCV</td>
			<td><input type="text" class="outputData data" id="mcv" placeholder="fL"><span class="units" id="mcv_unit">fL</span></td>
		</tr>
		<tr>
			<td class="inputLabel">MCH</td>
			<td><input type="text" class="outputData data" id="mch" placeholder="pg"><span class="units" id="mch_unit">pg</span></td>
		</tr>
		<tr>
			<td class="inputLabel">MCHC</td>
			<td><input type="text" class="outputData data" id="mchc" placeholder="g/dL"><span class="units" id="mchc_unit">g/dL</span></td>
		</tr>
	</table>
	<div class="buttonContainer">
		<input type="button" class="button" value="CALCULATE" id="calc_indices">
		<input type="button" class="button clear_button" value="CLEAR">
	</div>
</div>