.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    height: 100%;
	width: 200px;
	float: left;
}

.tablinks {
	cursor: pointer;
}

.sidelink {
  display: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.sidecontent {
  display: none;
  padding: 6px 12px 12px;
  position: relative;
  width: 150%;
}

.tableContainer {
	margin-left: 20px;
    display: inline-flex;
}

.inputLabel {
	width: 150px;
	
}

.inputLabelShort {
	width: 100px;
}

td, th {
    padding: 5px;
}

.tableRow {
	display: inline-flex;
}

#egfrPedia {
	display: none;
}

input.data, output.data {
	text-align: center;
	color: blue;
}

output {
	border: 1px solid #989898;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	padding: 1px 0px;
    -webkit-appearance: textfield;
    cursor: text;
	border-width: 2px;
    border-color: initial;
    color: initial;
	width: 175px;
	height: 25px;
}

.outputRow {
	width: 175px;
}

.units {
	left: 286px;
    z-index: 2;
    position: absolute;
	display: none;
	width: min-content;
	padding-top: 3px;
}

.buttonContainer {
	margin-left: 170px;
}

.button {
	margin: 4px;
    border-radius: 5px;
    background: white;
}

.tableLabel {
	background: inherit;
	border:0px solid #fff;
	cursor: pointer;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1px 1px;
	position: relative;
	z-index:100;
}

.inputRadio {
	position: absolute;
	visibility: hidden;
}

.inputRadio:checked + label { 
  background: darkgrey;
  color: white;
  border: 0px;
}

.radioLabel {
	background: inherit;
    border: 1px solid #cacaca;
    cursor: pointer;
    font-size: 1.0em;
    font-weight: bold;
    padding: 4px 4px;
    position: relative;
    z-index: 100;
    border-radius: 4px;
}

.choose_unit {
	float: right;
	padding-bottom: 20px;
	height: min-content;
    /*display: inline-flex;*/
}

sup {
    padding-top: 10px;
    font-size: 10px;
}
