{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
<h3 class="inventory_headers">Consume Reagent</h3>
	<hr class="inventory_hr">
    <div class="row">
		<div class="col-md-12">
			<span class="text-center"><h4>Ref No: <span style="color: blue;">{{ product.ref_number }}</span></h4> </span>
			<span class="text-center"><h4>Name: <span style="color: blue;">{{ product.name }}</span></h4> </span>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-6">
		<form action method="post" class="form" role="form">
		{{ form.hidden_tag() }}
		<div class="col-md-8">
			
		<label class="control-label" for="lot_numbers" >Lot Number / Expiry : Quantity</label>
		<select class="form-control" id="lot_numbers" name="lot_numbers" required style="font-size: large;">
			{% for i in item_query %}
			<option value='{{ i.lot_id }}'><span style="font-weight: bold;color: blue;">{{ i.lot_num }}</span> / {% if i.greater_expiry %}<span style="font-style: italic;color: red;">{{ i.expiry.strftime('%d-%m-%Y') }}</span>{% else %}<span style="font-style: italic;color: blue;">{{ i.expiry.strftime('%d-%m-%Y') }}</span> {% endif %}: <span style="font-weight: bold;color: green;">{{ i.quantity }}</span></option>
			{% endfor %}
		</select>
		</div>
		<div class="col-md-3" style="margin-top: 24px;">
		{{ form.submit(class_="btn btn-default") }}
		</div>
		
		</form>
		</div>
		<div class="col-md-4"></div>
	</div>

{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			$("select option").val(function(idx, val) {
				  $(this).siblings('[value="'+ val +'"]').remove();
				});
			});
			
	</script>
{% endblock %}