{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Create Orders</h3>
	<a class="create_orders no-print" href="{{ url_for('orders', company_name=company.company_name)}}">Manage Orders</a>
	<hr class="inventory_hr">
    <div class="row sidenav" id="create_orders_sidenav">
		<div class="col-md-12 registerContainer" id="create_orders_form_container">
			<div>
				<button type="button" class="btn btn-default hide_sidenav" aria-label="Left Align">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
				<div class="col-md-5" style="margin-bottom: 10px;">
					<div class="col-md-6">
						<label class="control-label" for="department">Search</label>
						<input class="form-control" id="search_create_orders">
					</div>
					<div class="col-md-6">
						<label class="control-label" for="department">Department</label>
						<select class="form-control" id="department">
							<option value=''>All</option>
							{% for d in dept %}
							<option value='{{ d.name }}'>{{ d.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-hover" id="create_order_table">
			<tr>
				<th style="width:150px;">Ref No</th>
				<th style="width:500px;">Name</th>
				<th style="width:150px;">Supplier</th>
				<th style="width:100px;">Qty Remaining </th>
				<th style="width:40px;">Quantity Request </th>
			</tr>
			{% if my_supplies %}
				{% for my_s in my_supplies %}
				<tr class="my_products_row">
					<td>{{ my_s.ref_number }}</td>
					<td>{{ my_s.name }}</td>
					<td>{{ my_s.supplier.name }}</td>
					<td >{% for my_ds in my_s.dept_id %}<div>{{ my_ds.department.abbrv }}: {{ my_ds.item_count }}</div>{% endfor %} </td>
					<td class="text-center" id="quantity_request_{{ my_s.ref_number }}" contenteditable></td>
					<td><a href="#" class="add_item_to_order" id="add_{{ my_s.ref_number }}">Add</a></td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		{% if not order.date_submitted %}
		<button type="button" class="btn btn-default" id="open_orders_sidenav" aria-label="Left Align">
			<span>Add items</span>
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		</button>
		{% endif %}
		<span class="text-center"><h4>Order No: <span style="color: blue;">{{ company.company_abbrv }}-ORD-{{ order.order_no }}</span></h4> </span>
			<table class="table table-bordered table-hover text-center" id="orders_list_table">
				<tr>
					<th>Reference No</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Supplier</th>
					<th>Added by</th>
				</tr>
				{% for list in order_list %}
					<tr>
						<td>{{ list.ref_number }}</td>
						<td>{{ list.name }}</td>
						<td>{{ list.quantity }}</td>
						<td>{{ list.supplier }}</td>
						<td>{{ list.user.username }}</td>
						{% if not order.date_submitted %}
						<td><a href="{{url_for('remove_order_item', company_name=company.company_name, order_no=order.order_no, id=list.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a></td>
						{% endif %}
					
					</tr>
					
				{% endfor %}
			</table>
		
		<form action method="post" class="form" role="form" name="orders_list_form" id="orders_list_form">
			{{ form.csrf_token() }}
			<div style="width: 200px;float: right; margin-bottom: 20px;">
				{% if not order.date_submitted %}
				<div>
					{{ form.save(class_="btn btn-default")}}
					{% if order_list %}
					{% if is_inv_supervisor %}
					{{ form.submit(class_="btn btn-default")}}
					{% endif %}
					{% endif %}
				</div>
				{% endif %}
			</div>
		</form>
		</div>
    </div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			$('input#search_create_orders').quicksearch('table#create_order_table .my_products_row');
			$('select#department').quicksearch('table#create_order_table .my_products_row');
			
			{% for my_s in my_supplies %}
			
				$("#add_{{ my_s.ref_number }}").click(function() {
					
					var exists=$('#orders_list_table tr td:contains('+{{ my_s.ref_number }}+')').length;
					  if (!exists ){
						var qty_req = $("#quantity_request_{{ my_s.ref_number }}").html();
						
						$('#orders_list_table > tbody:last-child').append("<tr><td>{{ my_s.ref_number}}</td><td>{{ my_s.name }}</td><td id='qty_{{ my_s.ref_number}}'contenteditable></td><td>{{ my_s.supplier.name }}</td></tr>");
						$("#qty_{{ my_s.ref_number}}").html(qty_req);
						
						$("#orders_list_form").append("<div><input type='hidden' name='supply_id' value='{{ my_s.id }}'><input type='hidden' name='refnum' value='{{ my_s.ref_number}}'><input type='hidden' name='name' value='{{ my_s.name }}'><input type='hidden' name='qty' id='form_qty_{{ my_s.ref_number }}' value=''><input type='hidden' name='supplier' value='{{ my_s.supplier_id }}'></div>");
						$('#form_qty_{{ my_s.ref_number }}').val(qty_req);
						
					}
					return false;  
				});
				
			{% endfor %}
		});
	</script>
{% endblock %}