{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Deliveries</h3>
	<hr class="inventory_hr">
    <div class="row">
		<div class="col-md-12">
			<table class="text-center table-bordered table-hover">
				<tr>
					<th class="col-md-2">Purchase Order</th>
					<th class="col-md-1">Status</th>
					<th class="col-md-1">Action</th>
				</tr>
				{% if purchases %}
					{% for purchase in purchases %}
					{% if purchase.date_purchased %}
					<tr>
						{% if is_inv_admin or company.id == 1 %}
						<td><a href="{{ url_for('purchase_list', company_name=company.company_name, purchase_order_no=purchase.purchase_order_no)}}">{{ company.company_abbrv }}-PO-{{ purchase.purchase_order_no }}</a></td>
						{% else %}
						<td>{{ company.company_abbrv }}-PO-{{ purchase.purchase_order_no }}</td>
						{% endif %}
						
						{% if purchase.delivered_purchases %}
						<td>{% for p in purchase.delivered_purchases %}<div><a href="{{ url_for('accept_delivery', company_name=company.company_name, purchase_order_no=purchase.purchase_order_no, delivery_order_no=p.delivery_no)}}">{{ p.delivery_no }}</a></div>{% endfor %}</td>
						{% else %}
						<td>Ordered</td>
						{% endif %}
						{% if purchase.purchase_order_complete == True %}
						<td>Delivery Complete</td>
						{% else %}
						<td><a href="#" data-toggle="modal" id="accept_delivery" data-target="#accept_delivery_modal_{{ purchase.purchase_order_no }}">Accept Delivery</a></td>
						{% endif %}
					</tr>
					{% endif %}
					{% endfor %}
					
				{% endif %}
				
			</table>
		</div>
		{% for purchase in purchases %}
		<div class="modal fade" id="accept_delivery_modal_{{ purchase.purchase_order_no }}" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action method="post" class="form" role="form">
					{{ form.hidden_tag() }}
					<div class="modal-header">
					<h4 style="display: inline;">For order no: </h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="input-group"><span class="input-group-addon  modal-form-number">{{ company.company_abbrv }}-PO-</span>{{ form.purchase_no(class_="form-control modal-form-number", value=purchase.purchase_order_no, readonly=True) }}</div>
					</div>
					<div class="modal-body">
						<div class="form-group required">
							{{ form.supplier.label (class_="control-label") }}
							{{ form.supplier (class_="form-control modal-form-number") }}
							
							{{ form.delivery_no.label (class_="control-label") }}
							{{ form.delivery_no (class_="form-control modal-form-number") }}
						</div>

					</div>
					<div class="modal-footer">
					{{ form.submit (class_="btn btn-default") }}
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
		{% endfor %}
    </div>
{% endblock %}