{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}		
    <h3 class="inventory_headers">Manage Departments/ Item Types</h3>
	<hr class="inventory_hr">
    <div class="row">
		{% if is_inv_supervisor %}
		<div class="col-md-4 registerContainer">
			<div class="col-md-12">
				{% if form1 %}
				{{ wtf.quick_form(form1) }}
				<br>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="col-md-6">
			<table class="table table-hover">
				<tr>
					<th>Departments</th>
					<th></th>
					<th></th>
				</tr>
				
					{% for depts in company.departments %}
					<tr>
						<td>{{ depts.name }} ({{ depts.abbrv }})</td>
						{% if is_inv_supervisor %}
						<td><a href="{{ url_for('link_supplies', company_name=company.company_name, dept_id=depts.id) }}">Link supplies</a></td>
						{% endif %}
						{% if is_inv_admin %}
						<td class="del-edit-btn"><a data-toggle="modal" href="#" data-target="#remove_{{ depts.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Remove department"></span></a></td>
						{% endif %}
					</tr>
					{% endfor %}
			
			</table>
		</div>
    </div>
	{% for depts in company.departments %}
	<div class="modal fade" id="remove_{{ depts.id }}" tabindex="-1" role="dialog" aria-labelledby="remove_{{ depts.id }}Label">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<p><h4>Remove Department: </h4></p>
		  </div>
		  <div class="modal-body">
			<p><h4>Deaprtment: {{ depts.name }} ({{ depts.abbrv }})</h4></p>
		  </div>
		  <div class="modal-footer">
			<a class="btn btn-default" href="{{ url_for('remove_dept', dept_id=depts.id, comp_id=company.id) }}" role="button">Remove</a>
		  </div>
		</div>
	  </div>
	</div>	
	{% endfor %}
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function(){
			var dept_tags = [
				{% for dept in departments %}
					{
						label: "{{ dept.name}}",
						abbrv: "{{ dept.abbrv }}",
					},
					
				{% endfor %}
			];
			$( "#dept_name" ).autocomplete({
			  source: dept_tags,
			  focus: function(event, ui) {
			  event.preventDefault();
			  $(this).val(ui.item.label);
			  },
			  select: function(event, ui) {
			  event.preventDefault();
			  $(this).val(ui.item.label);
			  $("#dept_abbrv").val(ui.item.abbrv);
			  }
			});
		
			
			var type_tags = [
				{% for type in types %}
					{label: "{{ type.name }}"},
				{% endfor %}
			];
			$( "#type_name" ).autocomplete({
			  source: type_tags
			});
	   });
	</script>
{% endblock %}