{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Accounts</h3>
	<hr class="inventory_hr">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills">
				  <li role="presentation"><a href="{{url_for('total_purchases_accounts', company_name=company.company_name)}}">Purchases</a></li>
				  <li role="presentation"><a href="{{url_for('total_deliveries_accounts', company_name=company.company_name)}}">Deliveries</a></li>
				  <li role="presentation"><a href="{{url_for('total_inventory_accounts', company_name=company.company_name)}}">Inventory Remaining</a></li>
				  <li role="presentation"><a href="{{url_for('total_consumed_accounts', company_name=company.company_name)}}">Inventory Consumed</a></li>
				</ul>
			</div>
		</div>
	</div>
	
{% endblock %}