{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}		
    <h2 class="inventory_headers">Overview</h2>
	<hr>
    <div class="row">
		
		
        <div class="col-md-6">
            <table class="text-center table-bordered table-hover">
			<h4>Reagents less than minimum qty</h4>
			<tr>
				<th>Ref Number</th>
				<th>Name</th>
				<th>Remaining quantity</th>
			</tr>
			{% for my_p in my_products %}
			{% if my_p.less_quantity %}
			<tr>
				<td>{{ my_p.ref_number }}</td>
				<td>{{ my_p.name }}</td> 
				<td>{{ my_p.current_quantity }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			</table>
        </div>
		
		
		<div class="col-md-6">
            <table class="text-center table-bordered table-hover">
			<h4>Reagents near expiry</h4>
			<tr>
				<th>Name</th>
				<th>Lot no</th>
				<th>Expiry</th>
			</tr>
			{% for my_p in my_products %}
			{% for i in my_p.item_query %}
			{% if i.greater_expiry  %}
			<tr id="{{ my_p.ref_number }}_lot_qty_{{ i.lot_num }}">
				<td>{{ my_p.name }}</td>
				<td>{{ i.lot_num }}</td>
				<td>{{ i.expiry.strftime('%d-%m-%Y') }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			{% endfor %}
			</table>
        </div>
		
		<div class="col-md-6">
            <table class="text-center table-bordered table-hover">
			<tr>
				<th>Pending orders</th>
			</tr>
			</table>
        </div>
		<div class="col-md-6">
            <table class="text-center table-bordered table-hover">
			<tr>
				<th>Pending reagents</th>
			</tr>
			</table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			//$('input#search_create_orders').quicksearch('table#create_order_table .my_products_row');
			//$('select#department').quicksearch('table#create_order_table .my_products_row');
			
			$('[id]').each(function () {
				{% for my_p in my_products %}{% for i in my_p.item_query %}
				$('[id="' + this.id + '"]:gt(0)').remove();
				{% endfor %}{% endfor %}
			});
			});
	
	
	</script>
{% endblock %}