{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Accounts</h3>
	<hr class="inventory_hr">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="nav nav-pills nav-stacked">
				  <li role="presentation"><a href="{{url_for('total_purchases_accounts', company_name=company.company_name)}}">Total Purchases</a></li>
				  <li role="presentation"><a href="#">Total Deliveries</a></li>
				  <li role="presentation"><a href="#">Current Inventory Total</a></li>
				</ul>
			</div>
		</div>
	</div>
	
{% endblock %}