<nav class="navbar" id="inventoryNav">
	<ul class="nav nav-pills">
		<li><a href="{{ url_for('inventory_management', company_name=company.company_name)}}">Overview</a></li>
		<li><a href="{{ url_for('inventory', company_name=company.company_name)}}">Inventory</a></li>
		<li><a href="{{ url_for('orders', company_name=company.company_name)}}">Orders</a></li>
		<li><a href="{{ url_for('purchases', company_name=company.company_name)}}">Purchases</a></li>
		<li><a href="{{ url_for('deliveries', company_name=company.company_name)}}">Deliveries</a></li>
		<li><a href="{{ url_for('products', company_name=company.company_name)}}">Products</a></li>
		<li><a href="{{ url_for('suppliers', company_name=company.company_name)}}">Suppliers</a></li>
		<li><a href="{{ url_for('departments', company_name=company.company_name)}}">Departments</a></li>
	</ul>	
</nav>
<hr style="margin: 0;">
