{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}		
    <h2 class="inventory_headers">Overview</h2>
	<hr class="inventory_hr">
    <div class="row text-center">
		<div class="col-md-5" style="margin-bottom: 10px;">
			<div class="col-md-6">
				<label class="control-label" for="search_overview">Search</label>
				<input class="form-control" id="search_overview">
			</div>
			<div class="col-md-6">
				<label class="control-label" for="department">Department</label>
				<select class="form-control" id="department">
					<option value=''>All</option>
					{% for d in select_dept %}
					<option value='{{ d.name }}'>{{ d.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	 <div class="row text-center">
		<div class="col-md-12" style="border: 2px solid #dedede;border-radius: 8px; margin: 10px;">
			<h4> Reagents less than minimum quantity</h4>
			<table class=" text-center table-bordered table-hover table-striped overview_table" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px; width: 100%;">
				<tr>
					<th>Ref Number</th>
					<th>Name</th>
					<th>Department</th>
					<th>Qty</th>
				</tr>
				{% for my_s in my_supplies %}
				{% if my_s.less_quantity %}
				{% for i in my_s.item_query %}
				<tr id="{{ my_s.product.ref_number }}_less_qty_{{ i.department.name }}" class="my_products_row">
					<td>{{ my_s.product.ref_number }}</td>
					<td>{{ my_s.product.name }}</td>
					<td>{{ i.department.name }}</td>
					<td>{{ i.quantity_dept }}</td>
				</tr>
				{% endfor %}
				{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
	 <div class="row text-center">
		<div class="col-md-12" style="border: 2px solid #dedede;border-radius: 8px; margin: 10px;">
			<h4>Reagents near expiry</h4>
			<table class=" text-center table-bordered table-hover table-striped overview_table" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px; width: 100%;">
			<tr>
				<th>Ref Number</th>
				<th>Name</th>
				<th>Department</th>
				<th>Lot no</th>
				<th>Expiry</th>
			</tr>
			{% for my_s in my_supplies %}
			{% for i in my_s.item_query %}
			{% if i.greater_expiry  %}
			<tr id="{{ my_s.product.ref_number }}_gr_expiry_{{ i.lot.lot_no }}_{{ i.department }}" class="my_products_row">
				<td>{{ my_s.product.ref_number }}</td>
				<td>{{ my_s.product.name }}</td>
				<td>{{ i.department.name }}</td>
				<td>{{ i.lot.lot_no }}</td>
				<td>{{ i.lot.expiry.strftime('%d-%m-%Y') }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			{% endfor %}
			</table>
		</div>
	</div>	
	
	<div class="row text-center">
		<div class="col-md-12" style="border: 2px solid #dedede;border-radius: 8px; margin: 10px;">
			<table class="text-center table-bordered table-hover table-striped overview_table" style=" border-collapse: separate !important;border-radius: 1em;overflow: hidden; margin-bottom:5px; width: 100%;">
			<h4>Undelivered reagents</h4>
			<tr>
				<th>Reference number</th>
				<th>Reagent name</th>
				<th>Purchase Order</th>
				<th style="display:none;">Department</th>
				<th>Date purchased</th>
				<th>Qty requested</th>
				<th>Qty delivered</th>
			</tr>
			{% for dp in delivered_purchases %}
			{% for pl in dp.purchase_list %}
			{% if pl.delivered_qty < pl.quantity %}
			<tr class="my_products_row">
				<td>{{ pl.ref_number }}</td>
				<td>{{ pl.name }}</td>
				<td>{{ company.company_abbrv}}-PO-{{ pl.purchase.purchase_order_no }}</td>
				<td style="display:none;">{{ pl.dept_name }}</td>
				<td>{{ pl.purchase.date_purchased.strftime('%d-%m-%Y') }}</td>
				<td>{{ pl.quantity }}</td>
				<td>{{ pl.delivered_qty }}</td>
			</tr>
			{% endif %}
			{% endfor %}
			{% endfor %}
			</table>
		</div>
    </div>
	{% if is_inv_admin or company.id == 1 %}
	<div class="row text-center">
		<div class="col-md-12">
			{% if pending_deliveries %}
			<div class="col-md-4" style="border: 2px solid #dedede;border-radius: 8px; width:auto; margin: 5px;">
				<table class="text-center table-bordered table-hover table-striped" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px;">
				<h4>Pending Deliveries</h4>
				<tr>
					<th>Purchase Order</th>
					<th>Date purchased</th>
				</tr>
				{% for p in pending_deliveries %}
				<tr>
					<td>{{ company.company_abbrv}}-PO-{{ p.purchase_order_no }}</td>
					<td>{{ p.date_purchased.strftime('%d-%m-%Y') }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
			{% endif %}
			<div class="col-md-4" style="border: 2px solid #dedede;border-radius: 8px; width:auto; margin: 5px;">
				<table class="text-center table-bordered table-hover table-striped" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px;">
				<h4>Submitted orders</h4>
				<thead>
					<tr>
						<th>Order Id</th>
						<th>Date submitted</th>
					</tr>
				</thead>
				{% for ord in unsubmitted_orders %}
				{% if ord.order_no %}
				<tr>
					<td>{{ company.company_abbrv}}-ORD-{{ ord.order_no }}</td>
					<td>{{ ord.date_submitted.strftime('%d-%m-%Y') }}</td>
				</tr>
				{% endif %}
				{% endfor %}
				</table>
			</div>
			<div class="col-md-4" style="border: 2px solid #dedede;border-radius: 8px; width:auto; margin: 5px;">
				<table class="text-center table-bordered table-hover table-striped" style=" border-collapse: separate !important;;border-radius: 1em;overflow: hidden; margin-bottom:5px;">
				<h4>Pending purchases</h4>
				<tr>
					<th>Purchase order no</th>
					<th>Date created</th>
				</tr>
				{% for p in pending_purchases %}
				{% if p.purchase_order_no %}
				<tr>
					<td>{{ company.company_abbrv }}-PO-{{ p.purchase_order_no }}</td>
					<td>{{ p.date_created.strftime('%d-%m-%Y') }}</td>
				</tr>
				{% endif %}
				{% endfor %}
				</table>
			</div>
		</div>
    </div>
	{% endif %}
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			$('input#search_overview').quicksearch('table.overview_table .my_products_row');
			$('select#department').quicksearch('table.overview_table .my_products_row');
			
			$('[id]').each(function () {
				{% for my_s in my_supplies %}{% for i in my_s.item_query %}
				$('[id="' + this.id + '"]:gt(0)').remove();
				{% endfor %}{% endfor %}
			});
			});
	
	
	</script>
{% endblock %}