{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Current Inventory</h3>
	<hr class="inventory_hr">
    <div class="row">
		<div class="col-md-12 registerContainer" id="create_orders_form_container" >
			<div class="col-md-5" style="margin-bottom: 10px;">
				<div class="col-md-6">
					<label class="control-label" for="search_create_orders">Search</label>
					<input class="form-control" id="search_create_orders">
				</div>
				<div class="col-md-6">
					<label class="control-label" for="department">Department</label>
					<select class="form-control" id="department">
						<option value=''>All</option>
						{% for d in dept %}
						<option value='{{ d.name }}'>{{ d.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<table class="sort_table table table-bordered table-hover" id="create_order_table">
				<thead>
					<tr>
						<th style="width:120px;">Ref No</th>
						<th style="width:400px;">Name</th>
						<th style="width:100px;">Description</th>
						<th style="width:300px;">Lot No / Expiry : Stocks</th>
						<th style="width:40px;">Action</th>
					</tr>
				</thead>
				{% if my_supplies %}
					{% for my_s in my_supplies %}
					<tr class="my_products_row">
						<td>{{ my_s.product.ref_number }}</td>
						<td>{{ my_s.product.name }}</td>
						<td>{{ my_s.product.description }}</td>
						<td>{% for i in my_s.item_query %}
						<div id="{{ my_s.product.ref_number }}_lot_qty_{{ i.lot.lot_no }}_{{ i.department.name }}"><span class="dept_name">{{ i.department.name }}: </span><span style="font-weight: bold;color: blue;"> {{ i.lot.lot_no }}</span> / {% if i.greater_expiry %}<span style="font-style: italic;color: red;">{{ i.lot.expiry.strftime('%d-%m-%Y') }}</span>{% else %}<span style="font-style: italic;color: blue;">{{ i.lot.expiry.strftime('%d-%m-%Y') }}</span> {% endif %}: <span style="font-weight: bold;color: green;">{{ i.quantity_dept }}</span></div>
						{% endfor %}</td>
						<td>{% if my_s.item_query %}<a href="{{ url_for('consume_item', company_name=company.company_name, ref_number=my_s.product.ref_number, id=my_s.id)}}">Consume</a>
						<a href="#" data-toggle="modal" data-target="#barcode_modal_{{ my_s.product.ref_number }}">Barcode</a>
						{% endif %}</td>
						
					</tr>
					
					{% endfor %}
				{% endif %}
			</table>
		</div>
		{% if my_supplies %}
		{% for my_s in my_supplies %}
		<div class="modal fade" id="barcode_modal_{{ my_s.product.ref_number }}" tabindex="-1" role="dialog" aria-labelledby="barcode_modal_{{ my_s.product.ref_number }}_label">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span class="text-center"><h4>Ref No: <span style="color: blue;">{{ my_s.product.ref_number }}</span></h4> </span>
				<span class="text-center"><h4>Name: <span style="color: blue;">{{ my_s.product.name }}</span></h4> </span>
			  </div>
			  <div class="modal-body">
				
				<select class="form-control" id="select_{{ my_s.product.ref_number }}">
					{% for i in my_s.item_query %}
					<option value="{{ i.lot.lot_no }}{{ i.seq_no }}">{{ i.lot.lot_no }} - {{ i.seq_no }} / {{ i.lot.expiry.strftime('%d-%m-%Y') }}</option>
					
					{% endfor %}
				</select>
					<br>
					{% for i in my_s.item_query %}
					<div class="bcodes bcodes_{{  my_s.product.ref_number }} text-center" id="bc_container_{{ i.lot.lot_no }}{{ i.id }}" style="text-align:center;margin:0 auto;">
						<img  id="bc_{{ i.lot.lot_no }}{{ i.seq_no }}" style="margin: 0;">
						<p style="margin: 0;font-size:10px;">{{ i.lot.lot_no }}-{{ i.seq_no }} &nbsp&nbsp&nbsp Date received: {{ i.delivery.date_delivered.strftime('%d-%m-%Y') }}</p>
						<p style="margin: 0;font-size:10px;">{{ my_s.product.name }}</p>
						
						<br>
						<p><input type="button" class="btn btn-default" id="print_{{ i.lot.lot_no }}{{ i.seq_no }}" value="Print"></p>
					</div>
					
					{% endfor %}
			  </div>
			</div>
		  </div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<div id="div_canvas" style="display:none;">
	
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$(document).ready(function() {
	$('input#search_create_orders').quicksearch('table#create_order_table .my_products_row');
	$('select#department').quicksearch('table#create_order_table .my_products_row');
	//remove duplicate
	$('[id]').each(function () {
		{% for my_s in my_supplies %}{% for i in my_s.item_query %}
		$('[id="' + this.id + '"]:gt(0)').remove();
		{% endfor %}{% endfor %}
	});
});

//set barcode size		
{% if my_supplies %}
{% for my_s in my_supplies %}
{% for i in my_s.item_query %}
$("#bc_{{ i.lot.lot_no }}{{ i.seq_no }}").JsBarcode("{{ i.lot.lot_no }}-{{ i.seq_no }}", {
	width: 1,
	height: 40,
	fontSize: 12,
	margin: 5,
	displayValue: false,
});

$('#select_{{ my_s.product.ref_number }}').change(function(){
	$('.bcodes_{{ my_s.product.ref_number }}').hide();
	$('#bc_container_' + $(this).val()).show();
  });

var printer;
if (!qz.websocket.isActive() ){
	qz.websocket.connect().then(function() { 
   return qz.printers.find("zebra").then(function(found) {
   alert("Printer: " + found);
   printer = found
	});
});
}

$('#print_{{ i.lot.lot_no }}{{ i.seq_no }}').click(function(){
	var config_{{ i.lot.lot_no }}_{{ i.seq_no }} = qz.configs.create(printer);       // Create a default config for the found printer
	var data_{{ i.lot.lot_no }}_{{ i.seq_no }} = ['^XA^CF0,20,14^FO260,50^FB300,2,,^FD Received: {{ i.delivery.date_delivered .strftime("%d-%m-%Y")}} ^FS ^FO260,70^FB300,2,,^FD{{ my_s.product.name }} ^FS ^FO300,110^FB320,2,,C^BY1,2.0^A0N,40,20^BCN,50,Y,N,A^FD {{ i.lot.lot_no }}-{{ i.seq_no }} ^FS^XZ'];
	  
	   return qz.print(config_{{ i.lot.lot_no }}_{{ i.seq_no }}, data_{{ i.lot.lot_no }}_{{ i.seq_no }});
	return false;
});

/*$('#print_{{ i.lot.lot_no }}{{ i.id }}').click(function(){
	qz.websocket.connect().then(function() { 
	   return qz.printers.find("zebra");  // Pass the printer name into the next Promise
	}).then(function(printer) {
	   var config = qz.configs.create(printer);       // Create a default config for the found printer
	   var data = ['^XA^CF0,20,14^FO260,50^FB300,2,,^FD Received: {{ i.delivery.date_delivered .strftime("%d-%m-%Y")}} ^FS ^FO260,70^FB300,2,,^FD{{ my_s.product.name }} ^FS ^FO260,110^FB300,2,,^BY2,2.0^BCN,50,Y,N,N^FD {{ i.lot.lot_no }}-{{ i.id }} ^FS^XZ'];
	   //var data = ['^XA^FO50,50^ADN,36,20^FDRAW ZPL Lot: {{ i.lot.lot_no }}-{{ i.id }}\&Date received: {{ i.delivery.date_delivered .strftime('%d-%m-%Y')}}\&{{ my_s.product.name }}^FS^XZ'];   // Raw ZPL
	   return qz.print(config, data);
	}).catch(function(e) { console.error(e); });					
});*/
{% endfor %}
{% endfor %}
{% endif %}
		
		
	
</script>
{% endblock %}