{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Manage Orders</h3>
	<button type="button" class="btn btn-primary btn-sm create_orders" data-toggle="modal" data-target="#create_order_modal">Create New Order</button>
	<hr class="inventory_hr">
	<div class="row">
		<div class="col-md-12">
			<table class="text-center">
				<tr>
					<th class="col-md-2">Order ID</th>
					<th class="col-md-1">Created by</th>
					<th class="col-md-1">Date</th>
					<th class="col-md-1">Submitted by</th>
					<th class="col-md-1">Date</th>
					{% if is_inv_admin %}
					<th class="col-md-2">Status</th>
					{% endif %}
				</tr>
				{% if orders %}
					{% for order in orders %}
					<tr>
						<td><a href="{{ url_for('create_orders', company_name=company.company_name, order_no=order.order_no) }}">{{ company.company_abbrv }}-ORD-{{ order.order_no }}</a></td>
						{% for c in order.order_creator %}
						<td>{{ c.username }}</td>
						{% endfor %}
						{% if order.date_created %}
						<td>{{ order.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
						{% endif %}
						{% for s in order.order_submitted_by %}
						<td>{{ s.username }}</td>
						{% endfor %}
						{% if order.date_submitted %}
						<td>{{ order.date_submitted.strftime('%Y-%m-%d %H:%M') }}</td>
						{% endif %}
						{% if is_inv_admin %}
						{% if order.purchase_order %}
						<td><a href="{{ url_for('purchase_list', company_name=company.company_name, purchase_order_no=order.purchase_order.purchase_order_no)}}">{{ company.company_abbrv }}-PO-{{ order.purchase_order.purchase_order_no }}</a></td>
						{% elif  order.date_submitted %}
						<td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create_purchase_modal_{{ order.order_no }}">Create Purchase Order</button></td>
						{% endif %}
						{% endif %}
					</tr>
					{% endfor %}
				{% endif %}
				
			</table>
		</div>
		<div class="modal fade" id="create_order_modal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action method="post" class="form" role="form">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						{{ wtf.quick_form(form)}}
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
		{% if orders %}
		{% for order in orders %}
		<div class="modal fade" id="create_purchase_modal_{{ order.order_no }}" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action method="post" class="form" role="form">
					{{ form1.hidden_tag() }}
					<div class="modal-header">
					<h4 style="display: inline;">For order no: </h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="input-group"><span class="input-group-addon  modal-form-number">{{ company.company_abbrv }}-ORD-</span>{{ form1.order_no_purchase_form(class_="form-control modal-form-number", value=order.order_no, readonly=True) }}</div>
					</div>
					<div class="modal-body">
						<div class="form-group required">
							{{ form1.purchase_order.label (class_="control-label") }}
							<div class="input-group"><span class="input-group-addon  modal-form-number">{{ company.company_abbrv }}-PO-</span>
							{{ form1.purchase_order (class_="form-control modal-form-number", value=order.order_no, readonly=True) }}</div>
						</div>

					</div>
					<div class="modal-footer">
					{{ form1.submit (class_="btn btn-default") }}
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
		{% endfor %}
		{% endif %}
	</div>   
	
{% endblock %}