{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Manage Products</h3>
	<hr class="inventory_hr">
	{% if is_inv_supervisor %}
	<div class="row sidenav" id="product_sidenav">
		<div class="col-md-12">
			<button type="button" class="btn btn-default hide_sidenav" aria-label="Left Align">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			</button>
			<h4>Register Product</h4>
			<form action method="post" class="form" role="form">
				{{ form.hidden_tag() }}
				<div>
				<div class="col-md-6">
					{{ form.reference_number.label(class_="contol-label") }}
					{{ form.reference_number(class_="form-control") }}
					{{ form.name.label(class_="contol-label") }}
					{{ form.name(class_="form-control") }}
					{{ form.description.label(class_="contol-label") }}
					{{ form.description(class_="form-control") }}
					{{ form.storage_req.label(class_="contol-label") }}
					{{ form.storage_req(class_="form-control") }}
				</div>
				<div class="col-md-3">
					{{ form.price.label(class_="contol-label") }}
					{{ form.price(class_="form-control") }}
					{{ form.min_quantity.label(class_="contol-label") }}
					{{ form.min_quantity(class_="form-control") }}
					{{ form.min_expiry.label(class_="contol-label") }}
					{{ form.min_expiry(class_="form-control") }}
				</div>
				<div class="col-md-3">
					{{ form.department.label(class_="contol-label") }}
					{{ form.department(class_="form-control") }}
					{{ form.supplier.label(class_="contol-label") }}
					{{ form.supplier(class_="form-control") }}
					{{ form.type.label(class_="contol-label") }}
					{{ form.type(class_="form-control") }}
				</div>
				</div>
				<br>
				
				<input class="btn btn-default" id="submit" name="submit" type="submit" value="Register" style="float: right; margin-bottom: 10px;margin-top: 10px;">

			</form>
				
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			{% if is_inv_supervisor %}
			<button type="button" class="btn btn-default" id="open_product_sidenav" aria-label="Left Align" style="float: left;">
				<span>Register Product</span>
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</button>
			{% endif %}
			<table class="table table-bordered table-hover text-center">
				<tr>
					<th>Reference No</th>
					<th>Product Name</th>
					<th>Description</th>
					<th>Storage</th>
					<th>Min Qty</th>
					<th>Min Expiry</th>
					<th>Price</th>
					<th>Department</th>
					<th>Type</th>
					<th>Supplier</th>
				</tr>
				{% if products %}
					{% for my_p in my_products %}
					<tr>
						<td>{{ my_p.ref_number }}</td>
						<td>{{ my_p.name }}</td>
						<td>{{ my_p.description }}</td>
						<td>{{ my_p.storage_req }}</td>
						<td>{{ my_p.min_quantity }}</td>
						<td>{{ my_p.min_expiry }}</td>
						<td>{{ my_p.price }}</td>
						<td>{{ my_p.dept_name }}</td>
						<td>{{ my_p.type_name }}</td>
						<td>{{ my_p.supplier_name }}</td>
						{% if is_inv_admin %}
						<td><a href="{{ url_for('delete_product', prod_id=my_p.product_id, comp_id=company.id) }}">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>
		
    </div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function(){
			var product_tags = [
				{% for prod in products %}
					{
					label: "{{ prod.ref_number}}",
					name: "{{ prod.name }}",
					description: "{{ prod.description }}",
					storage_req: "{{ prod.storage_req }}",
					},
				{% endfor %}
			  ]
				$( "#reference_number" ).autocomplete({
			  source: product_tags,
			  focus: function(event, ui) {
			  event.preventDefault();
			  $(this).val(ui.item.label);
			  },
			  select: function(event, ui) {
			  event.preventDefault();
			  $(this).val(ui.item.label);
			  $("#name").val(ui.item.name);
			  $("#description").val(ui.item.description);
			  $("#storage_req").val(ui.item.storage_req);
			  }
			});
			
			var temp_tags = [
				{label: "2 - 8 °C"},
				{label: "15 - 25 °C"},
				{label: "20 - 25 °C"},
				{label: "(-15) - (-25) °C"},
				{label: "(-20) - (-25) °C"},
			]
			
			$( "#storage_req" ).autocomplete({
				  source: temp_tags,
			});
	   });
	</script>
{% endblock %}