{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Purchase List</h3>
	<a class="create_orders no-print" href="{{ url_for('purchases', company_name=company.company_name)}}">Manage Purchases</a>
	<hr class="inventory_hr">
	<div class="row sidenav" id="create_orders_sidenav">
		<div class="col-md-12 registerContainer" id="create_orders_form_container">
			<div>
				<button type="button" class="btn btn-default hide_sidenav" aria-label="Left Align">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
				<div class="col-md-5" style="margin-bottom: 10px;">
					<div class="col-md-6">
						<label class="control-label" for="department">Search</label>
						<input class="form-control" id="search_create_orders">
					</div>
					<div class="col-md-6">
						<label class="control-label" for="department">Department</label>
						<select class="form-control" id="department">
							<option value=''>All</option>
							{% for d in dept %}
							<option value='{{ d.name }}'>{{ d.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-hover" id="create_order_table">
			<tr>
				<th class="col-md-3" style="width:150px;">Ref No</th>
				<th class="col-md-6" style="width:600px;">Name</th>
				<th class="col-md-3" style="width:150px;">Department</th>
				<th class="col-md-1" style="width:40px;">Quantity Remaining </th>
				<th class="col-md-1" style="width:40px;">Quantity Request </th>
			</tr>
			{% if my_products %}
				{% for my_p in my_products %}
				<tr class="my_products_row">
					<td>{{ my_p.ref_number }}</td>
					<td>{{ my_p.name }}</td>
					<td>{{ my_p.department }}</td>
					<td></td>
					<td id="quantity_request_{{ my_p.ref_number }}" contenteditable></td>
					<td><a href="#" class="add_item_to_order" id="add_{{ my_p.ref_number }}">{{ ('Add') }}</a></td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		{% if not purchase.date_purchased %}
		<button type="button" class="btn btn-default" id="open_orders_sidenav" aria-label="Left Align">
			<span>Add items</span>
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		</button>
		{% endif %}
		<span class="text-center"><h4>Purchase Order No: <span style="color: blue;">{{ purchase.purchase_order_no }}</span></h4> </span>
			<table class="table table-bordered table-hover text-center" id="orders_list_table">
				<tr>
					<th>Reference No</th>
					<th>Name</th>
					<th>Price Each</th>
					<th>Quantity</th>
					<th>Total Price</th>
					<th>Added by</th>
				</tr>
				{% for list in purchase_list %}
					<tr>
						<td>{{ list.ref_number }}</td>
						<td>{{ list.name }}</td>
						<td>{{ list.price }}</td>
						<td>{{ list.quantity }}</td>
						<td class='individual_total'>{{ list.total }}</td>
						<td>{{ list.user.username }}</td>
						<!--td><a href="#" data-toggle="modal" id="edit_{{ list.ref_number }}" data-target="#edit_purchase_list_modal_{{ list.ref_number }}">Edit</a></td-->
						{% if not purchase.date_purchased %}
						<td><a href="{{url_for('remove_purchase_item', company_name=company.company_name, purchase_order_no=purchase.purchase_order_no, id=list.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a></td>
						{% endif %}
						
					</tr>
					
				{% endfor %}
			</table>
			<form action method="post" class="form" role="form" name="orders_list_form" id="orders_list_form">
			{{ form.csrf_token() }}
			<div style="width: 200px;float: right; margin-bottom: 20px;">
				<div id="subtotal_container">Total: <span id="subtotal_price" style="color: blue;"></span></div>
				{% if not purchase.date_purchased %}
				<div>
					{{ form.save(class_="btn btn-default")}}
					{% if purchase_list %}
					{{ form.submit(class_="btn btn-default")}}
					{% endif %}
				</div>
				{% endif %}
			</div>
		</form>
		</div>	
		
    </div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			$('input#search_create_orders').quicksearch('table#create_order_table .my_products_row');
			$('select#department').quicksearch('table#create_order_table .my_products_row');
			
			var sum = 0;
			$(".individual_total").each(function() {
				sum += parseFloat($(this).text());
				$("#subtotal_price").html(sum);
			});
			if ($(".individual_total").length > 0) {
			$("#subtotal_container").css("display", "block");
			}
			{% for my_p in my_products %}
			
				$("#add_{{ my_p.ref_number }}").click(function() {
					
					var exists=$('#orders_list_table tr td:contains('+{{ my_p.ref_number }}+')').length;
					  if (!exists ){
						var qty_req = $("#quantity_request_{{ my_p.ref_number }}").html();
						
						$('#orders_list_table > tbody:last-child').append("<tr><td>{{ my_p.ref_number}}</td><td>{{ my_p.name }}</td><td id='price_{{ my_p.ref_number}}'>{{ my_p.price }}</td><td id='qty_{{ my_p.ref_number}}'contenteditable></td><td class='individual_total' id='total_price_{{ my_p.ref_number}}'></td></tr>");
						
						
						$("#orders_list_form").append("<div><input type='hidden' name='refnum' value='{{ my_p.ref_number}}'><input type='hidden' name='name' value='{{ my_p.name }}'><input type='hidden' name='price' value='{{ my_p.price }}'><input type='hidden' name='qty' id='form_qty_{{ my_p.ref_number }}' value=''><input type='hidden' name='tot_price' id='form_tot_price_{{ my_p.ref_number }}' value=''></div>");
						
						var total = {{ my_p.price }} * qty_req;
						$("#qty_{{ my_p.ref_number}}").html(qty_req);
						$("#total_price_{{ my_p.ref_number}}").html(total);
						$('#form_qty_{{ my_p.ref_number }}').val(qty_req);
						$('#form_tot_price_{{ my_p.ref_number }}').val(total);
						
						var sum = 0;
						$(".individual_total").each(function() {
							sum += parseFloat($(this).text());
							$("#subtotal_price").html(sum);
						});
						if ($(".individual_total").length > 0) {
						$("#subtotal_container").css("display", "block");
						}
					}
				});
				
			{% endfor %}
			
			/*$("#save_edit_btn").click(function() {
			$("#form_save_edit").click();
			});*/
		} );
		
		{% for my_p in my_products %}
		$(document).on( 'keyup', '#qty_{{ my_p.ref_number}}', function() {
			var edit_qty = $("#qty_{{ my_p.ref_number}}").html();
			var edit_total = {{ my_p.price }} * edit_qty;
			$("#total_price_{{ my_p.ref_number}}").html(edit_total);
			$('#form_qty_{{ my_p.ref_number }}').val(edit_qty);
			$('#form_tot_price_{{ my_p.ref_number }}').val(edit_total);
			var sum = 0;
			$(".individual_total").each(function() {
				sum += parseFloat($(this).text());
				$("#subtotal_price").html(sum);
			});
			if ($(".individual_total").length > 0) {
			$("#subtotal_container").css("display", "block");
			}
		});
		
		{% endfor %}
		
		{% for list in order_list %}
			$("#close_{{ list.ref_number }}").click(function() {
				$(".append_data").remove();
			});
		
		/*$("#request_{{ list.ref_number }}").click(function() {
			
			$("#edit_qty_table_{{ list.ref_number }} > tbody:last-child").append('<tr class="append_data"><form action method="post"class="form" role="form"><td>{{list.ref_number}}</td><td>{{list.name}}</td><td style="width:80px;">{{ form1.edit_qty(class_="form-control") }}</td><td><button type="button" class="btn btn-default" id="edit_item_qty"><a href="{{url_for("edit_item_qty", company_name=company.company_name, order_no=order.order_no, id=list.id)}}">Edit</a></button></td><td>{{ form1.orderlist_id(value=list.id)}}</td><td>{{ form1.csrf_token() }}</td></form></tr>');
			print
			/*$('input[name=orderlist_id]').val({{ list.id }});
			$('input[name=edit_qty]').val({{ list.quantity }});
		});*/
		
		
		/*$(document).on( 'keyup', '#edit_qty', function() {
			var qty_val = $("#edit_qty").val();
			//$('input[name=edit_qty]').val(edit_qty);
		});*/
		{% endfor %}
		
		
		
	</script>
{% endblock %}