{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% include 'inventory_management/inventory_manager_nav.html' %}	
    <h3 class="inventory_headers">Purchase List</h3>
	<a class="create_orders no-print" href="{{ url_for('purchases', company_name=company.company_name)}}">Manage Purchases</a>
	<hr class="inventory_hr">
	<div class="row sidenav" id="create_orders_sidenav">
		<div class="col-md-12 registerContainer" id="create_orders_form_container">
			<div>
				<button type="button" class="btn btn-default hide_sidenav" aria-label="Left Align">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
				<div class="col-md-5" style="margin-bottom: 10px;">
					<div class="col-md-6">
						<label class="control-label" for="department">Search</label>
						<input class="form-control" id="search_create_orders">
					</div>
					<div class="col-md-6">
						<label class="control-label" for="department">Department</label>
						<select class="form-control" id="department">
							<option value=''>All</option>
							{% for d in dept %}
							<option value='{{ d.name }}'>{{ d.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<table class="table table-bordered table-hover" id="create_order_table">
			<tr>
				<th style="width:150px;">Ref No</th>
				<th style="width:500px;">Name</th>
				<th style="width:150px;">Supplier</th>
				<th style="width:100px;">Qty Remaining </th>
				<th style="width:40px;">Quantity Request </th>
				<th></th>
			</tr>
			{% if my_supplies %}
				{% for my_s in my_supplies %}
				<tr class="my_products_row">
					<td style="width:150px;">{{ my_s.ref_number }}</td>
					<td style="width:500px;">{{ my_s.name }}</td>
					<td style="width:150px;">{{ my_s.supplier.name }}</td>
					<td style="width:100px;">{% for my_ds in my_s.dept_id %}<div>{{ my_ds.department.name }}: {{ my_ds.item_count }}</div>{% endfor %} </td>
					<td class="text-center" id="quantity_request_{{ my_s.ref_number }}" style="width:40px;" contenteditable></td>
					<td style="width:40px;"><a href="#" class="add_item_to_order" id="add_{{ my_s.ref_number }}">{{ ('Add') }}</a></td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		{% if not purchase.date_purchased %}
		<button type="button" class="btn btn-default" id="open_orders_sidenav" aria-label="Left Align">
			<span>Add items</span>
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		</button>
		{% endif %}
		<span class="text-center"><h4>Purchase Order No: <span style="color: blue;">{{ company.company_abbrv }}-PO-{{ purchase.purchase_order_no }}</span></h4> </span>
			<div class="col-md-9"></div>
			<div class="col-md-3">
				<label class="control-label" for="department">Department</label>
				<select class="form-control" id="supplier">
					<option value=''>All</option>
					{% for s in supplier %}
					<option value='{{ s.name }}'>{{ s.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-12">
			<table class="table table-bordered table-hover text-center" id="orders_list_table">
				<tr>
					<th>Reference No</th>
					<th>Name</th>
					<th>Price Each</th>
					<th>Quantity</th>
					<th>Total Price</th>
					<th>Supplier</th>
					<th>Added by</th>
				</tr>
				{% for list in purchase_list %}
					<tr class="orders_list_row">
						<td>{{ list.ref_number }}</td>
						<td>{{ list.name }}</td>
						<td>{{ list.price }}</td>
						<td>{{ list.quantity }}</td>
						<td class='individual_total' id="{{ list.ref_number }}_total"></td>
						<td>{{ list.supplier.name }}</td>
						<td>{{ list.user.username }}</td>
						<!--td><a href="#" data-toggle="modal" id="edit_{{ list.ref_number }}" data-target="#edit_purchase_list_modal_{{ list.ref_number }}">Edit</a></td-->
						{% if not purchase.date_purchased %}
						<td><a href="{{url_for('remove_purchase_item', company_name=company.company_name, purchase_order_no=purchase.purchase_order_no, id=list.id)}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a></td>
						{% endif %}
						
					</tr>
					
				{% endfor %}
			</table>
			</div>
			<form action method="post" class="form" role="form" name="orders_list_form" id="orders_list_form">
			{{ form.csrf_token() }}
			<div style="width: 200px;float: right; margin-bottom: 20px;">
				<div id="subtotal_container">Total: <span id="subtotal_price_" style="color: blue;"></span></div>
				<span id="subtotal_price" style="display: none;"></span>
				{{ form.subtotal }}
				{% if not purchase.date_purchased %}
				<div>
					{{ form.save(class_="btn btn-default")}}
					{% if purchase_list %}
					{{ form.submit(class_="btn btn-default")}}
					{% endif %}
				</div>
				{% endif %}
			</div>
		</form>
		</div>	
		
    </div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script>
		$(document).ready(function() {
			$('input#search_create_orders').quicksearch('table#create_order_table .my_products_row');
			$('select#department').quicksearch('table#create_order_table .my_products_row');
			//$('select#supplier').quicksearch('table#orders_list_table .orders_list_row');---Transfered-->
					
			{% for list in purchase_list %}
				$("#{{ list.ref_number }}_total").html({{list.price }} * {{ list.quantity }})
			{% endfor %}
			
			var sum1 = 0;
			$(".individual_total").each(function() {
				sum1 += parseFloat($(this).text());
				$("#subtotal_price").html(sum1);
			});
			var sum2 = 0
			$(".individual_total").each(function() {
					sum2 += parseFloat($(this).text());
				$("#subtotal_price_").html(sum2);
			});
			
			$("select#supplier").change(function() {
				var sum3 = 0;
				$('select#supplier').quicksearch('table#orders_list_table .orders_list_row');//<-------------
				$("table#orders_list_table .individual_total:visible").each(function() {
						sum3 += parseFloat($(this).text());
						$("#subtotal_price_").html(sum3);
				});
			});
			
									
			if ($(".individual_total").length > 0) {
			$("#subtotal_container").css("display", "block");
			}
			{% for my_s in my_supplies %}
			
				$("#add_{{ my_s.ref_number }}").click(function() {
					
					var exists=$('#orders_list_table tr td:contains('+'{{ my_s.ref_number }}'+')').length;
					  if (!exists ){
						var qty_req = $("#quantity_request_{{ my_s.ref_number }}").html();
						
						$('#orders_list_table > tbody:last-child').append("<tr><td>{{ my_s.ref_number}}</td><td>{{ my_s.name }}</td><td id='price_{{ my_s.ref_number}}'>{{ my_s.price }}</td><td id='qty_{{ my_s.ref_number}}'contenteditable></td><td class='individual_total' id='total_price_{{ my_s.ref_number}}'></td><td>{{ my_s.supplier.name }}</td></tr>");
						
						
						$("#orders_list_form").append("<div><input type='hidden' name='supply_id' value='{{ my_s.id }}'><input type='hidden' name='refnum' value='{{ my_s.ref_number}}'><input type='hidden' name='name' value='{{ my_s.name }}'><input type='hidden' name='price' value='{{ my_s.price }}'><input type='hidden' name='qty' id='form_qty_{{ my_s.ref_number }}' value=''><input type='hidden' name='tot_price' id='form_tot_price_{{ my_s.ref_number }}' value=''><input type='hidden' name='supplier' value='{{ my_s.supplier_id }}'></div>");
						
						var total = {{ my_s.price }} * qty_req;
						$("#qty_{{ my_s.ref_number}}").html(qty_req);
						$("#total_price_{{ my_s.ref_number}}").html(total);
						$('#form_qty_{{ my_s.ref_number }}').val(qty_req);
						$('#form_tot_price_{{ my_s.ref_number }}').val(total);
						
						var sum = 0;
						$(".individual_total").each(function() {
							sum += parseFloat($(this).text());
							$("#subtotal_price").html(sum);
						});
						if ($(".individual_total").length > 0) {
						$("#subtotal_container").css("display", "block");
						}
					}
					return false;
				});
				
			{% endfor %}
			
			$('#subtotal').val($("#subtotal_price").html());
		} );
		
		{% for my_s in my_supplies %}
		$(document).on( 'keyup', '#qty_{{ my_s.ref_number}}', function() {
			var edit_qty = $("#qty_{{ my_s.ref_number}}").html();
			var edit_total = {{ my_s.price }} * edit_qty;
			$("#total_price_{{ my_s.ref_number}}").html(edit_total);
			$('#form_qty_{{ my_s.ref_number }}').val(edit_qty);
			$('#form_tot_price_{{ my_s.ref_number }}').val(edit_total);
			var sum = 0;
			$(".individual_total").each(function() {
				sum += parseFloat($(this).text());
				$("#subtotal_price").html(sum);
			});
			if ($(".individual_total").length > 0) {
			$("#subtotal_container").css("display", "block");
			}
		});
		{% endfor %}
		
		{% for list in order_list %}
			$("#close_{{ list.ref_number }}").click(function() {
				$(".append_data").remove();
			});
		{% endfor %}
		
	</script>
{% endblock %}