{% extends "company_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-3">
			{% if company.logo %}
			<div width="180px"><img src="{{ company.logo }}" alt="{{ company.company_name }}" style="width:180px;height:150px;"></div>
			{% else %}
			<div width="180px"><img src="{{ company.company_avatar(150) }}"></div>
			{% endif %}
		</div>
		<div class="col-md-6 text-center" >
			<h1>{{ company.company_name }}</h1>
		</div>
		<div class="col-md-3" style="width:180px; height:150px;">
			<div style="position:absolute; bottom:0;">
				<p>Adress: {{ company.address }}</p>
				<p>Email: {{ company.email }}</p>
				<p>Contact: {{ company.contact_info }}</p>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-6">
		<p><a href="#" data-toggle="modal" data-target="#create_dept_modal" style="float:right;">Create Department</a></p>
		<br>
		<ul class="nav nav-tabs nav-stacked" role="tablist">
			{% for dept in departments %}
			<li role="presentation" class="active"><a href="#documentation_deptname_{{ dept.department_name }}" aria-controls="home" role="tab" data-toggle="tab">{{ dept.department_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<p><a href="#" data-toggle="modal" data-target="#create_sop_modal" style="float:right;">Create SOP</a></p>
			<br>
		<div class="tab-content">
			<ul class="nav nav-tabs nav-stacked" role="tablist">
				{% for dept in departments %}
				{% for doc in documents %}
				<li role="presentation" id="documentation_deptname_{{ dept.department_name }}" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">{{ doc.document_id}}-{{ doc.document_name}}</a></li>
				{% endfor %}
				{% endfor %}
		</ul>
			</ul>
		</div>
	</div>

</div>




	
<div class="modal fade" id="create_dept_modal" tabindex="-1" role="dialog" aria-labelledby="create_dept_modal_label">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ wtf.quick_form(form1) }}
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="create_sop_modal" tabindex="-1" role="dialog" aria-labelledby="create_sop_modal_label">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-body">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ wtf.quick_form(form2) }}
	  </div>
	</div>
  </div>
</div>
{% endblock %}