{% if is_my_affiliate %}
{% extends "company_base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
	<form action method="post" class="form" role="form">
		{{ form.hidden_tag() }}
		<table id="manage_affiliate_role_table" class="table table-striped table-hover">
			<tr>
				<th class="col-md-2 admin-table">Affiliate</th>
				<th class="col-md-2 admin-table">{{ form.title.label}}</th>
				<th class="col-md-2 admin-table">{{ form.start_date.label}}</th>
				{% if user == superuser %}
				<th class="col-md-1 admin-table">{{ form.doc_supervisor.label}}</th>
				{% endif %}
				<th class="col-md-1 admin-table">{{ form.inv_supervisor.label}}</th>
				<th class="col-md-1 admin-table">{{ form.qc_supervisor.label}}</th>
				{% if user == superuser %}
				<th class="col-md-1 admin-table">{{ form.doc_admin.label}}</th>
				{% endif %}
				<th class="col-md-1 admin-table">{{ form.inv_admin.label}}</th>
				<th class="col-md-1 admin-table">{{ form.qc_admin.label}}</th>
				<th class="col-md-1 admin-table table-bordered">{{ form.super_admin.label}}</th>
			</tr>
			<tr>
				<td class="col-md-2 admin-table"><a href="{{ url_for('user', username=affiliate.users.username) }}">{{ affiliate.users.firstname }} {{ affiliate.users.lastname }} ({{ affiliate.users.username }})</a></td>
				<th class="col-md-2 admin-table">{{ form.title (class_="form-control") }}</th>
				<th class="col-md-2 admin-table">{{ form.start_date (class_="form-control", type="date") }}</th>
				{% if user == superuser %}
				<td class="admin-table form-group">{{form.doc_supervisor(class_="single_check")}}</td>
				{% endif %}
				<td class="admin-table form-group">{{form.inv_supervisor(class_="single_check")}}</td>
				<td class="admin-table form-group">{{form.qc_supervisor(class_="single_check")}}</td>
				{% if user == superuser %}
				<td class="admin-table form-group">{{form.doc_admin(class_="single_check double_check")}}</td>
				{% endif %}
				<td class="admin-table form-group">{{form.inv_admin(class_="single_check double_check")}}</td>
				<td class="admin-table form-group">{{form.qc_admin(class_="single_check double_check")}}</td>
				<td class="admin-table table-bordered form-group">{{form.super_admin}}</td>	
			</tr>
		</table>
		<div id="manage_afiliate_footer">
		{{ form.submit(class_="btn btn-default") }}
		{{ form.cancel(class_="btn btn-default") }}
		</div>
	</form>
</div>

	
{% endblock %}
