{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="media">
	<table class="table table-hover">
        <tr>
			<div class="media-left">
				<td width="70px" style="text-align:center;">
					<a href="{{ url_for('user', username=post.author.username) }}">
						{% if post.author.profile_pic %}
						<img src="{{ post.author.profile_pic }}" alt="user profile pic" style="width: 70px;">
						{% else %}
						<img src="{{ post.author.avatar(70) }}" />
						{% endif %}
					</a>
					<a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
					<div>
						<button type="button" class="btn btn-default" aria-label="Left Align" style="padding:2px 8px;">
						  <a href="{{ url_for('upvote', id=post.id) }}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></button>
						
						
						<button type="button" class="btn btn-default" aria-label="Left Align" style="padding:2px 8px;">
						  <a href="{{ url_for('downvote', id=post.id) }}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></a></span></button>
						
						<span style="font-size: 11px;font-style:italic;color:blue;">{% if upvotes %}{{ upvotes }}{% else %}0 {% endif %} </span><span style="font-size: 11px;font-style:italic;color:red;">{% if downvotes %}{{ downvotes }}{% else %}0{% endif %}</span>
					</div>
				</td>
			</div>
				<td>
					<div class="media-body">
						<p>{{ post.body }}</p>
						<p><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></p>
						<p>{{ post.description }}</p>	
					</div>
					<div class="media-right">
						<a href="{{ post.url }}" target="_blank"><img class="media-object" src="{{ post.image }}" alt="{{ post.title }}" style="width:100px;height:100px;"></a>
					</div>
						<br>
						{{ moment(post.timestamp).calendar() }}		
				</td>			
        </tr>
    </table>
</div>
{% endblock %}