{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
			{% if user.profile_pic %}
			<td width="256px"><img src="{{ user.profile_pic }}" width="256px"></td>
			{% else %}
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
			{% endif %}
            <td>
                <h1>User: {{ user.username }}</h1>
				<h3>{{ user.firstname }} {{ user.lastname }}</h3>
				{% if my_affiliates %}
				
				{% for affiliate in my_affiliates %}
				{% if affiliate.title != None %}{% if affiliate.end_date == None %}
				<li style="list-style:none;"><span>{{ affiliate.title }}</span> at <a href="{{ url_for('company', company_name=affiliate.company.company_name) }}"  target="_blank">{{ affiliate.company.company_name}}</a><span> {% if affiliate.start_date %}since {{ affiliate.start_date.strftime('%d-%m-%Y')}} {% endif %}</span></li>
				{% endif %}{% endif %}
				{% endfor %}
				{% endif %}
				<br>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLLL') }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
				{% if past_affiliates %}
				Affiliate history:
				<ul>
				{% for affiliate in past_affiliates %}
				{% if affiliate.end_date %}
				<li><span>{% if affiliate.title %} {{ affiliate.title}} {% endif %} at</span><a href="{{ url_for('company', company_name=affiliate.company.company_name) }}"  target="_blank"> {{ affiliate.company.company_name}} </a>from <span>{% if affiliate.start_date %}{{ affiliate.start_date.strftime('%d-%m-%Y') }} {% endif %}</span> - <span>{% if affiliate.end_date %}{{ affiliate.end_date.strftime('%d-%m-%Y') }} {% endif %}</span></li>
				{% endif %}
				{% endfor %}
				{% endif %}
				</ul>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
				<p><a href="#" id="register_company">Register a company?</a></p>
				<div id="reg_company_form" class="col-md-6">
					{% if form %}
					{{ wtf.quick_form(form) }}
					<br>
					{% endif %}
				</div>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
				{% if user != current_user and user.is_following(current_user) %}
                <p>
                    <a href="{{ url_for('send_message', recipient=user.username) }}">
                         <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Message
                    </a>
					
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}